
= simple_form_for([@user, @profile]) do |f|
  %fieldset
    = f.error_notification
    .row
      .col-md-6
        = f.input :nickname
      .col-md-6
        = f.input :avatar
    .row
      .col-md-12
        = f.input :bio, :input_html => {:rows => 5}

    .row
      .col-md-6
        = f.input :city
      .col-md-6
        = f.input :state, collection: us_states
    %br
    = f.button :submit, class: 'btn btn-lg'
