!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Aslwiki'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Aslwiki'}"}
    %link{href:'http://fonts.googleapis.com/css?family=Cedarville+Cursive', rel:'stylesheet', type:'text/css'}

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{:id=> content_for?(:body_id) ? yield(:body_id) : "#{params[:controller].parameterize.gsub('_','-')}-#{params[:action].parameterize.gsub('_','-')}" }
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      .container.scrollable
        = yield
